<div class="panel is-info">
  <p class="panel-heading">Profile</p>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
        <strong><%= current_user.name.titleize %></strong>
        <p>
          <small>@<%= current_user.username %></small>
        </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <div class="level is-mobile container">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tweets</p>
          <p class="title is-6"><%= current_user.tweets.count%></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Following</p>
          <p class="title is-6">123</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Followers</p>
          <p class="title is-6">456K</p>
        </div>
      </div>
    </div>
  </div>
</div>

