
<div class="container">
  <div class="columns">
    <div class="column is-one-quarter">
        <%= render 'trends' %>
    </div>
    <div class="column is-half">
      <%= render 'tweets/form', tweet: @tweet %>
      <%= render @tweets %>
    </div>
    <div class="column is-one-quarter">
      <%= render 'recommended' %>
    </div>
  </div>
</div>