
<div class="container">
  <div class="columns is-8 is-variable">
    <div class="column is-one-quarter">
        <%= render 'trends' %>
    </div>
    <div class="column is-half">
      <%= render 'tweets/form', tweet: @tweet %>
      <div class="panel">
        <%= render @tweets %>
      </div>
    </div>
    <div class="column is-one-quarter">
      <%= render 'recommended' %>
    </div>
  </div>
</div>