<nav class="panel is-info">
  <p class="panel-heading"><%= user.name.titleize %></p>
  <a href="" class="panel-block">@<%= user.username%></a>
  <a href="" class="panel-block">324 Tweets</a>
  <a href="" class="panel-block">Following 21</a>
  <a href="" class="panel-block">Followers 923</a>
</nav>